// @import 'blocks/fonts';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --default-text-size: 16px;
    --grey: #8a8a8a;
    --white: #ffffff;
    --red: #da4533;
    --black: #000;
    --dark: #1b1b1b;
    --dark-grey: #5c5c5c;
    --grid-padding: 15px;
}

body {
    font-family: "Montserrat";
    // font-family: "STIX Two Text";
    font-size: var(--default-text-size);
    font-weight: 400;
    line-height: 1.7;
    color: var(--white);
}
main {
    flex: 1;
    overflow-x: hidden;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
}
input {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
a,
button {
    display: inline-flex;
}

@import "blocks/*.scss";
